*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 8rem;
    color:blue;
}
p{
    font-size: 4rem;
}
a{
    margin-top: 20px;
    font-size: 1.8rem;
    color: black;
    height: 40px;
    width: 90px;
    background-color:greenyellow;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
a:hover{
    transform: scale(1.03);
}
.error-image{
    background-image: url(../assets/undraw_Warning_re_eoyh.png);
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: -100px;
    margin-left: 270px;
    width: 50vw;
    height: 50vh;
}