*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    width: 50vw;
    height: 70vh;
    margin-top: 80px; 
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-radius: 15px;
    border: 1px solid gainsboro;
    background: rgba(0,100,100,0.05);
    box-shadow: 0 0 50px rgba(200, 198, 198, 0.948);
}
.image-container{
    background-image: url(../assets/login.svg);
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 100px;
    margin-left: 40px;
    width: 20vw;
    height: 40vh;
}
.sign-in-form{
    border-radius: 10px;
    padding: 25px;
    display: flex;
    background: rgba(224, 221, 221, 0.414);
    flex-direction: column;
    height: 55vh;
    width: 340px;
    margin: 50px 0px 50px 50px;
}
h3{
    font-size: 5rem;
    margin-bottom: 20px;
    color: #0c1088;
    text-align: center;
}
.sign-in-form > label{
    color:#0c1088;;
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sign-in-form > input{
    height: 35px;
    background-color:azure;
    border-style: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.sign-in-form > input:focus{
    border: 1px solid rgb(55, 99, 255);
    box-shadow: 0 0 5px rgb(55, 99, 255);
}
#sign-in-button{
    background-color: #0c1088;
    color: whitesmoke;
    height: 35px;
    padding-left: 0;
    margin-top: 15px;
    font-size: 1.6rem;
    transition: 0.5s;
}
#sign-in-button:hover{
    background-color: blue;
    transform: scale(1.01);
}
.forgot-password{
    font-size: 1.4rem;
    text-decoration: none;
    color: blue;
    text-align: center;
    margin-top: 10px;
}
.back-button{
	height: 35px;
	background-color: #d0d0d0;
	border-style: none;
    border-radius: 5px;
    margin-top: 8px;
    width: 290px;
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.back-button:hover{
	background-color: white;
    transform: scale(1.01);
}
.show-message{
	display: inline;
	margin-top: 10px;
	margin-left: 80px;
    color: red;
    font-size: 1.6rem;
}